## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Talaya,RU,61.3833,152.7500,-35.05,89,9,2.55,clear sky
1,1,Udachnyy,RU,66.4167,112.4000,-13.83,100,99,3.22,overcast clouds
2,2,Jamestown,US,42.0970,-79.2353,17.19,65,0,1.99,clear sky
3,3,Punta Arenas,CL,-53.1500,-70.9167,53.71,82,75,5.75,light rain
4,4,Albany,US,42.6001,-73.9662,9.18,72,18,3.65,few clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Arraial Do Cabo,BR,-22.9661,-42.0278,87.66,58,0,17.27,clear sky
11,11,Luderitz,NaN,-26.6481,15.1594,72.95,71,19,13.31,few clouds
13,13,The Valley,AI,18.2170,-63.0578,77.14,78,75,13.80,broken clouds
14,14,Vaini,TO,-21.2000,-175.2000,77.16,94,100,16.11,light rain
15,15,Vao,NC,-22.6667,167.4833,79.52,87,81,4.61,broken clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Sao Felix Do Xingu,BR,-6.6447,-51.9950,84.00,68,100,2.06,overcast clouds
680,680,Biak,ID,-0.9131,122.8766,76.89,84,81,3.02,broken clouds
681,681,Olinda,BR,-8.0089,-34.8553,85.73,51,40,8.05,scattered clouds
685,685,Inirida,CO,3.8653,-67.9239,80.26,74,96,2.93,overcast clouds
688,688,Phuket,TH,8.0000,98.2500,82.62,74,20,5.75,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                264
City                   264
Country                260
Lat                    264
Lng                    264
Max Temp               264
Humidity               264
Cloudiness             264
Wind Speed             264
Current Description    264
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Arraial Do Cabo,BR,-22.9661,-42.0278,87.66,58,0,17.27,clear sky
13,13,The Valley,AI,18.2170,-63.0578,77.14,78,75,13.80,broken clouds
14,14,Vaini,TO,-21.2000,-175.2000,77.16,94,100,16.11,light rain
15,15,Vao,NC,-22.6667,167.4833,79.52,87,81,4.61,broken clouds
16,16,Cape Town,ZA,-33.9258,18.4232,89.11,50,0,17.27,clear sky
...,...,...,...,...,...,...,...,...,...,...
679,679,Sao Felix Do Xingu,BR,-6.6447,-51.9950,84.00,68,100,2.06,overcast clouds
680,680,Biak,ID,-0.9131,122.8766,76.89,84,81,3.02,broken clouds
681,681,Olinda,BR,-8.0089,-34.8553,85.73,51,40,8.05,scattered clouds
685,685,Inirida,CO,3.8653,-67.9239,80.26,74,96,2.93,overcast clouds
688,688,Phuket,TH,8.0000,98.2500,82.62,74,20,5.75,few clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Arraial Do Cabo,BR,87.66,clear sky,-22.9661,-42.0278,
13,The Valley,AI,77.14,broken clouds,18.2170,-63.0578,
14,Vaini,TO,77.16,light rain,-21.2000,-175.2000,
15,Vao,NC,79.52,broken clouds,-22.6667,167.4833,
16,Cape Town,ZA,89.11,clear sky,-33.9258,18.4232,
17,Geraldton,AU,72.01,overcast clouds,-28.7667,114.6000,
21,Dois Corregos,BR,76.35,overcast clouds,-22.3661,-48.3803,
26,Narasannapeta,IN,71.55,broken clouds,18.4167,84.0500,
27,Rikitea,PF,78.66,overcast clouds,-23.1203,-134.9692,
30,Atar,MR,89.69,clear sky,20.5169,-13.0499,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Arraial Do Cabo,BR,87.66,clear sky,-22.9661,-42.0278,Pousada Porto Praia
13,The Valley,AI,77.14,broken clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
14,Vaini,TO,77.16,light rain,-21.2000,-175.2000,Keleti Beach Resort
15,Vao,NC,79.52,broken clouds,-22.6667,167.4833,Hotel Kou-Bugny
16,Cape Town,ZA,89.11,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...,...
679,Sao Felix Do Xingu,BR,84.00,overcast clouds,-6.6447,-51.9950,Rio Xingu Camping
680,Biak,ID,76.89,broken clouds,-0.9131,122.8766,Penginapan Kim
681,Olinda,BR,85.73,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
685,Inirida,CO,80.26,overcast clouds,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
688,Phuket,TH,82.62,few clouds,8.0000,98.2500,The Surin

In [26]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Arraial Do Cabo,BR,87.66,clear sky,-22.9661,-42.0278,Pousada Porto Praia
13,The Valley,AI,77.14,broken clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
14,Vaini,TO,77.16,light rain,-21.2000,-175.2000,Keleti Beach Resort
15,Vao,NC,79.52,broken clouds,-22.6667,167.4833,Hotel Kou-Bugny
16,Cape Town,ZA,89.11,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...,...
679,Sao Felix Do Xingu,BR,84.00,overcast clouds,-6.6447,-51.9950,Rio Xingu Camping
680,Biak,ID,76.89,broken clouds,-0.9131,122.8766,Penginapan Kim
681,Olinda,BR,85.73,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
685,Inirida,CO,80.26,overcast clouds,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
688,Phuket,TH,82.62,few clouds,8.0000,98.2500,The Surin

In [16]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
current_description = clean_hotel_df["Current Description"]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))